/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(244, 241, 241);
  --text-color: rgb(32, 29, 29);
}

.dark {
  --bg-color: #2f343a;
  --text-color: #ffffff;
}

html {
  overflow-y: scroll;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}